.BlogDescriptionContainer{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 1rem;
}

.BlogDescriptionLeft{
    padding: 0 6%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 1100px;
    overflow-y: scroll;
}

.BlogDescriptionLeft::-webkit-scrollbar {
    display: none;
  }

.BlogDescriptionLeft p{
    font-size: 17px;
    font-weight: 300;
}

.BlogDescriptionLeft p span{
    color: var(--P500);
}

.BlogLeftContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.BlogLeftContent h3{
    /* width: max-content; */
    font-size: 22px;
    font-weight: 500;
    border-bottom: 3px solid var(--P500);
    padding: 0 30px 10px 10px;
}

.BlogLeftContent p{
    font-size: 17px;
    font-weight: 300;
    text-align: justify;
}

.BlogDescriptionRight{
    padding: 3%;
    display: grid;
    grid-template-rows: 45% 45%;
    gap: 3rem;
}

.BlogRight{
    padding: 8% 6%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--P400);
    border-radius: 5px;
}

.BlogRight h3{
    font-size: 20px;
    font-weight: 600;
    width: 85%;
}

.BlogRight h3 span{
    background-color: #fff;
}

.BlogRight p{
    width: 80%;
}

.BlogRight button{
    outline: none;
    border: none;
    font-size: 13px;
    font-weight: 600;
    color: #3a3d4a;
    background-color: #ffffff;
    padding: 13px 50px;
    border-radius: 50px;
}
.BlogRight button span{
    color: var(--P400);
}

@media (max-width: 800px) {
    .BlogDescriptionContainer{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 20px;
    }
    .BlogDescriptionLeft{
        height: max-content;
        gap: 1rem;
    }
    .BlogDescriptionRight{
        padding: 3%;
        display: flex;
        gap: 2rem;
    }
    .BlogRight{
        height: 400px;
        padding: 3% 3%;
    }
}

@media (max-width: 768px){
    .BlogLeftContent{
        gap: .9rem;
    }
    .BlogLeftContent h3{
        font-size: 20px;
        padding: 0 30px 7px 10px;
    }
    
    .BlogLeftContent p{
        font-size: 15px;
    }
    .BlogDescriptionLeft p{
        font-size: 15px;
    }
}

@media (max-width: 640px){
    .BlogRight h3{
        font-size: 18px;
        font-weight: 600;
    }
    
    .BlogRight p{
        width: 90%;
    }
    
    .BlogRight button{
        outline: none;
        border: none;
        font-size: 12px;
        font-weight: 600;
        color: #3a3d4a;
        background-color: #ffffff;
        padding: 13px 30px;
        border-radius: 50px;
    }    
}

@media (max-width: 500px){
    .BlogDescriptionContainer{
        margin-top: 10px;
    }
    .BlogLeftContent{
        gap: .7rem;
    }
    .BlogLeftContent h3{
        font-size: 16px;
        padding: 0 10px 5px 10px;
    }
    
    .BlogLeftContent p{
        font-size: 14px;
    }
    .BlogDescriptionLeft p{
        font-size: 14px;
    }
    .BlogDescriptionRight{
        flex-direction: column;
        gap: .7rem;
    }
    .BlogRight{
        height: 250px;
        padding: 3% 3%;
    }
}

@media (max-width: 400px){
    .BlogRight{
        height: 280px;
        padding: 3% 3%;
    }
}