.BlogContentContainer{
    padding: 6% 6%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.BlogContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.BlogContentImage {
    width: 100%;
    height: 230px;
}

.BlogContent h3{
    font-size: 18px;
    font-weight: 500;
}

.BlogContent h3 span{
    color: var(--P500);
}

.BlogContent p{
    font-size: 11px;
    font-weight: 400;
    text-align: justify;
}

.BlogContent div{
    width: max-content;
    display: flex;
    text-align: center;
    border-bottom: 1px solid #000000;
    font-size: 13px;
    font-weight: 600;
}

@media (max-width: 978px){
    .BlogContentContainer{
        grid-template-columns: 1fr 1fr;
    }
    .BlogContentImage {
        height: 200px;
    }
    .BlogContent{
        gap: .5rem;
        justify-content: space-between;
    }
    .BlogContent h3{
        font-size: 16px;
        font-weight: 500;
    }
    
    .BlogContent h3 span{
        color: var(--P500);
    }
    
    .BlogContent p{
        font-size: 10.3px;
        font-weight: 400;
        text-align: justify;
    }   
}

@media (max-width: 978px){
    .BlogContentImage {
        height: 150px;
    }
    .BlogContentContainer{
        padding: 3%;
        gap: 3%;
    }
}