.SingleBlogHeaderContainer{
    display: flex;
    padding: 15px 50px;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: fixed;
    width: 95%;
    background-color: #fff;
    z-index: 1;
}

.SingleBlogHeaderImage{
    width: 150px;
    height: 35px;
}

.SingleBlogHeaderContainer>Button{
    margin-right: 20px;
}

@media (max-width:600px){
    .SingleBlogHeaderImage{
        width: 110px;
        height: 30px;
    }
    .SingleBlogHeaderContainer{
        padding: 15px 10px;
    }
    .SingleBlogHeaderContainer>Button{
        margin-right: 10px;
        padding: 10px 20px ;
        font-size: 13px;
    }
}