.footerWrap {
    background-image: url('../../public/assets/heroBg.webp');
    background-size: cover;
}

.contentWrap {
    display: flex;
    padding: 4% 0;

}

.left {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-left: 4%;

}

.logo {
    width: 60%;
    height: 20%;
    object-fit: contain;
}

.desc {
    color: #fff;
    font-size: 20px;
    width: 80%;
    font-weight: 200;
    margin: 6% 0;
}

.formWrap {
    margin: 4% 0;
    margin-top: 0;
    display: flex;
}

.emailField {
    border: none;
    background: rgba(255, 255, 255, 0.327);
    color: #fff;
    backdrop-filter: blur(10px);
    padding: 0% 2%;
    height: 50px;
    font-size: 18px;
    font-weight: 200;
    width: 60%;
    border-radius: 10px 0px 0px 10px;
}

.emailField:focus {
    outline: none;
}

.emailField::placeholder {
    color: #fff;
    opacity: 1;
    /* Firefox */
}

.emailField:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

.emailField::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

.submitBtn {
    border: none;
    background: rgba(255, 255, 255, 0.477);
    color: #fff;
    backdrop-filter: blur(10px);
    padding: 0% 6%;
    height: 50px;
    font-size: 18px;
    font-weight: 200;
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform: translateX(-10px);
}

.iconWrap {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.icon {
    font-size: 30px;
    color: #fff;
}

.right {
    width: 65%;
    display: flex;
    justify-content: space-around;
}

.linkLeft {
    display: flex;
    flex-direction: column;
}

.linkRight {
    display: flex;
    flex-direction: column;
}

.heading {
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    margin-bottom: 10px;
}

.link {
    color: #fff;
    font-weight: 200;
    font-size: 18px;
    line-height: 35px;
    text-decoration: none;
}
.link:hover{
    color: var(--P300);
}

.rights {
    font-weight: 350;
    font-size: 22px;
    color: #fff;
    padding: 1.5% 5%;
    margin: 0 2%;
    border-top: 1px solid;
}