@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

* {
  font-family: 'Poppins';
  margin: 0;
}

:root {
  --P700: #38405F;
  --P500: #B388EB;
  --P400: #d8c3f4;
  --P300: #F7AEF8;
  --S300: #37ACEC;
}