.head {
    background: url('../../public/assets/heroBg.png');
    background-size: cover;
    height: 400px;
    padding: 0% 8%;
    padding-right: 0;
    display: flex;
}

.leftContent {
    font-weight: 400;
    font-size: 44px;
    line-height: 64px;
    color: #fff;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.knowMore {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 30px;
}

.knowMore p {
    /* writing-mode: vertical-rl; */
    color: #fff;
    margin: 50px -30px;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 100px;
    text-align: center;
}

.arrowIcon {
    color: #fff;
    font-size: 25px;
    margin-right: 5px;
}



.reviewCardSection {
    padding: 8% 8%;
    color: var(--P700);
}

.reviewCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 2%;
}

.reviewCards h1 {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}

.reviewCard {
    width: 360px;
    min-width: 280px;
    box-shadow: 0 0 4px #b3b3b3;
    border-radius: 20px;
    transition: 0.4s ease-in-out;
    padding: 6% 2%;
    position: relative;
    overflow: hidden;
}

.reviewCard:hover {
    box-shadow: 0 0 10px #b3b3b3;
}

.reviewCard:hover .quote {
    background: #b388eb5b;
    color: #fff;
    padding: 3%;
    border-radius: 100px;
    top: -18px;
    right: -18px;
    transform: rotate(30deg) scale(1.1);
}

.reviewCard:hover .reviewer p {
    color: var(--P500);
}

.ratingSection {
    display: flex;
}

.ratingSection .left {
    width: 60%;
}

.ratingSection .right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.quote {
    width: max-content;
    height: 180px;
    transform: rotate(30deg);
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(212, 212, 212);
    padding: 3%;
    top: -18px;
    right: -18px;
    border-radius: 100px;
    background: #fff;
    transition: 0.4s ease-in-out;
    z-index: -1;
}

.reviewContent {
    margin-top: 12%;
}



.review {
    margin: 2% 0;
}

.reviewer {
    margin-top: 4%;
}

.reviewer h3 {
    font-weight: 400;
    font-size: 29px;
    line-height: 44px;
}