.sectionWrap {
    position: relative;
    height: 100vh;
    background-image: url('../../../public/assets/heroBg.webp');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    color: #fff;
    overflow: hidden;
}

.sectionWrap h1 {
    font-weight: 600;
    font-size: 5vw;
    line-height: 120px;
    text-align: center;
}

.sectionWrap p {
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    width: 55vw;
    margin-bottom: 2%;
    margin-top: 1%;
}

.SEOHeaderImg1{
    position: absolute;
    top: 10%;
    left: 1%;
}

.SEOHeaderImg2{
    position: absolute;
    bottom: 20%;
    left: 8%;
}

.SEOHeaderImg3{
    position: absolute;
    bottom: 0;
    right: 42%;
}

.SEOHeaderImg4{
    position: absolute;
    right: 25px;
    bottom: 60px;
}

.SEOHeaderImg5{
    position: absolute;
    right: 8%;
    top: 9%;
}