.sectionWrap {
    height: 100vh;
    background-image: url('../../../public/assets/heroBg.webp');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    color: #fff;
}

.sectionWrap h1 {
    font-weight: 600;
    font-size: 6vw;
    line-height: 160px;
}

.sectionWrap p {
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    width: 55vw;
    margin-bottom: 2%;
    margin-top: 1%;
}