.reviewCardSection {
    padding: 8% 0%;
    background-image: url('/assets/heroBg.webp');
    background-size: cover;
    color: #fff;
}

.reviewCardSection h1 {
    font-weight: 500;
    font-size: 60px;
    line-height: 65px;
    padding-left: 3%;
    text-align: center;
    color: #fff;
}

.reviewCards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 2%;
    padding: 0 2%;

}

.reviewCards::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.reviewCard {
    min-width: 370px;
    transition: 0.4s ease-in-out;
    padding: 3% 4%;
    position: relative;
    overflow: hidden;
    color: #000;
    background: #fff;
    border-image: linear-gradient(60deg, var(--P700), var(--P300)) 30;
    border-width: 6px;
    border-radius: 10px;
    border-style: solid;
}

.ratingSection {
    display: flex;
}

.ratingSection .left {
    width: 60%;
}


.reviewContent {
    margin-top: 10%;
}



.review {
    margin: 2% 0;
}

.reviewer {
    margin-top: 6%;
}

.reviewer h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.scrollBtn {
    margin-top: 4%;
    display: flex;
    justify-content: flex-end;
    padding-right: 6%;
}

.arrow {
    font-size: 40px;
    margin-left: 2%;
    transition: 0.4s;
    color: #000;
}

.arrow:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--P500);
}

.ratingWrap {
    display: flex;
    column-gap: 20px;
}

.ratingImg {
    width: 20px;
    height: 20px;
}