@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');



.sectionWrap {
    padding: 6% 1%;
}

.praise {
    font-family: 'Praise';
    color: var(--P500);
    font-size: 120px;
    margin-right: 1%;
}



.cardsWrap {
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(360px, 1fr));    
    gap:2rem;
    justify-content: space-between;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.number {
    width: 15%;
    
}
.number h3{
    font-size: 120px;
    color: #b388eb3d;
}

.contentWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 500;
    font-size: 38px;
    border-bottom: 3px solid var(--P500);
    width: max-content;
}

.content {
    width: 100%;
    font-weight: 350;
    font-size: 18px;
    margin-top: 5%;
}

@media (max-width: 1000px){
    .praise {
        font-size: 100px;
    }
}

@media (max-width: 768px){
    .praise {
        font-size: 80px;
    }
}
@media (max-width: 640px){
    .praise {
        font-size: 50px;
    }
    .cardsWrap{
        margin-top: 7%;
        gap: 1rem;
    }
    .title{
        font-size: 28px !important;
        text-align: center !important;
        /* border-bottom: 2px solid var(--P500);
        width: max-content; */
    }  
    .content{
        font-size: 16px;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .cardsWrap{
        margin-top: 4%;
        gap: 1rem;
    }
    .title{
        font-size: 24px !important;
        text-align: center !important;
    }  
    .content{
        font-size: 14px;
        text-align: center;
    }
}

