@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');



.sectionWrap {
    padding: 6% 0%;
}

.praise {
    font-family: 'Praise';
    color: var(--P500);
    font-size: 120px;
    margin-right: 1%;
}



.cardsWrap {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4%;
    column-gap: 15px;
}

.card {
    width: 450px;
    display: flex;
    align-items: center;
    column-gap: 3%;
}

.number {
    width: 15%;
    
}
.number h3{
    font-size: 120px;
    color: #b388eb3d;
}

.rightContent {
    width: 85%;
}

.title {
    font-weight: 400;
    font-size: 34px;
}

.content {
    font-weight: 300;
    font-size: 14px;
    margin-top: 5%;
}