@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');



.sectionWrap {
    padding: 6% 0%;
}

.praise {
    font-family: 'Praise';
    color: var(--P500);
    font-size: 120px;
    margin-right: 1%;
}



.cardsWrap {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0%;
    column-gap: 30px;
}

.card {
    width: 400px;
    display: flex;
    align-items: center;
}

.number {
    width: 15%;
    
}
.number h3{
    font-size: 120px;
    color: #b388eb3d;
}

.title {
    font-weight: 500;
    font-size: 38px;
}

.content {
    font-weight: 350;
    font-size: 18px;
    margin-top: 5%;
}