.contact-container {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: space-between;
    @media (max-width: 630px) {
      grid-template-columns: 100%;
      align-items: center;
    }
  }
  
  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('/assets/heroBg.webp');
    background-size: cover; 
    color: white;
    padding: 50px;
    padding-top: 25%;
    @media (max-width: 1000px) {
      padding: 20px;
      padding-top: 35%;
    }
    @media (max-width: 630px) {
      padding: 30px;
      padding-top: 20%;
      height: 35vh;
    }
  }

  .left-side h2{
    font-size: 7vh;
    font-weight: 400;
    @media (max-width: 1000px) {
      font-size: 6vh;
    }
    @media (max-width: 630px) {
      font-size: 5vh;
    }
  }

  .leftSideContent{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    @media (max-width: 1000px) {
      gap: 1rem;
    }
    @media (max-width: 630px) {
      gap: .5rem;
    }
  }

  .leftSideInfo div{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    @media (max-width: 1000px) {
      gap: .3rem;
    }
    @media (max-width: 630px) {
      gap: 0rem;
    }
  }

  .leftSideInfo h5{
    font-weight: 200;
  }

  .leftSideInfo p{
    font-size: 18px;
    font-weight: 300;
    @media (max-width: 630px) {
      font-size: 16px;
    }
  }

  .leftSideInfo{
    display: flex;
    flex-direction: column;
    gap : 1.2rem;
  }
  
  .heading-span{
    color: #B388EB;
 }

  .right-heading{
    padding-bottom: 15px;
  }
  
  .socialIcons {
    display: flex;
    gap: .5rem;
    padding-left:20px ;
  }
  
  
  .socialIcon{
    color: #FFFFFF;
    font-size: 10px;
    margin-right: 10px;
  }

  .intersection-image {
    position: absolute;
    top: 70%;
    left: 26%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 45%;
    object-fit: contain;
    z-index: 0; /* Change z-index to 0 */
    @media (max-width: 1000px) {
      top: 72%;
      left: 20%;
    }
    @media (max-width: 630px) {
      width: 50%;
      height: 40%;
      object-fit: contain;
      top: 37%;
      left: 75%;
    }
  }
  

  .right-side {
    background-color: white;
    padding: 10%;
    align-items: center;
    @media (max-width: 1000px) {
      padding-top: 15%;
    }
    @media (max-width: 630px) {
      width: 90%;
      padding: 5%;
    }
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .form-field label {
    font-weight: small;
    padding: 5px 0px; 
  }
  
  .form-field input,
  .form-field textarea {
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    outline: none;
  }
  
  .form-field textarea {
    resize: vertical;
  }
  
  .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .submit-button button {
    color: #FFFFFF;
    background-color: #38405F;
    border: none;
    width: max-content;
    height: max-content;
    padding: 15px 30px;
    border-radius: 40px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }
  
  .submit-button button:hover {
    background-color: #FFFFFF;
    color: #38405F;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  