.heroSection {
    height: 90vh;
    background-image: url('/assets/heroBg.webp');
    background-size: cover;
    display: flex;
    gap:1rem;
    flex-direction: column;
    justify-content: center;
    padding-left: 4%;
    color: #fff;
    position: relative;
    @media screen and (max-width: 768px) {
        height: 80vh;
    }
    @media screen and (max-width: 500px) {
        height: 90vh;
        align-items: center;
        padding-top: 30px;
        gap: .5rem;
    }
}

.heroSection h1 {
    font-weight: 500;
    font-size: 56px;
    @media screen and (max-width: 768px) {
        font-size: 36px;
        font-weight: 600;
    }
}

.heroSection p {
    font-weight: 200;
    font-size: 20px;
    width: 55%;
    margin-bottom: 4%;
    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
    @media screen and (max-width: 500px) {
        width: 90%;
        text-align: center;
    }
}

.bannerHash {
    position: absolute;
    top: 10%;
    right: 5%;
    height: 80vh;
    width: 45%;
    object-fit: contain;
    @media screen and (max-width: 768px) {
        top: 0%;
    }
    @media screen and (max-width: 500px) {
        display: none;
    }
}

.bannerHashPhone{
    width: 70%;
    height: 35%;
    object-fit: contain;
    @media screen and (min-width: 501px) {
        display: none;
    }
}

.heroSection>Button{
    @media screen and (max-width: 500px) {
        width: 90%;
    }
}