.sectionWrap {
    position: relative;
    height: 100vh;
    background-image: url('../../../public/assets/heroBg.webp');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    color: #fff;
    overflow: hidden;
}

.sectionWrap h1 {
    font-weight: 600;
    font-size: 6vw;
    line-height: 160px;
}

.sectionWrap p {
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    width: 55vw;
    margin-bottom: 2%;
    margin-top: 1%;
}

.MessageIcon{
    position: absolute;
    bottom: -10%;
    right: 15%;
    animation: MessageIcon 5s infinite;
}

@keyframes MessageIcon {
    0%{
        bottom: -10%;
        right: 15%;
    }
    25% {
        right: 0%;
        bottom: 55%;
        transform: scale(0.7);
    }
    50% {
        right: 10%;
        bottom: 70%;
        transform: scale(0.5);
    }
    100%{
        bottom: -10%;
        right: 15%;
        transform: scale(1);
    }
  }
