.WhatWeDoWrap {
    padding: 4% 6%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.WhatWeDoWrap h3{
    font-size: 30px;
    font-weight: 500;
    @media (max-width:800px) {
        font-weight: 600;
    }
    @media (max-width:500px) {
        font-size: 22px;
    }
}

.WhatDoWrapSpan{
    @media (max-width:800px) {
        color: var(--P500);
    }
}

.PhoneCards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top:3rem;
    @media (min-width: 801px) {
        display: none;
    }
}

.PhoneCard{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.PhoneCard h2{
    align-self: flex-start;
    font-size: 30px;
    border-bottom: 3px solid var(--P500);
    padding-bottom: 10px;
    @media (max-width:650px) {
        font-size: 24px;
    }
    @media (max-width:500px) {
        font-size: 18px;
    }
}

.PhoneCardImageContent{
    display: grid;
    grid-template-columns: 45% auto;
    gap: 1.5rem;
}

.PhoneCardImageContainer{
    position: relative;
    width: 100%;
    height: 250px;
    background-color: var(--P500);
    border-radius: 10px;
    @media (max-width:650px) {
        height: 220px;
    }
    @media (max-width:500px) {
        height: 190px;
    }
}

.PhoneCardImage{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    left: 3%;
    bottom: 3%;
}

.PhoneCardImageContent p{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    @media (max-width:650px) {
        font-size: 16px;
    }
    @media (max-width:500px) {
        font-size: 15px;
    }
}